body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #273f54;
    color: #ffffff;
}


h1 {
    font-weight: bold;
}

p {
    font-weight: 300;
}

a {

}

button {
    font-family: 'Dic Sans';
    font-weight: bold;
}