/* ------------------------------------------------------------
Seção de boas vindas
------------------------------------------------------------ */

.wc-section {
    display: flex;
    width: 100%;
    height: 720px;
    align-items: center;
    justify-content: center;
    background-image: url('../assets/images/container.png');
    background-size: cover;
}

.wc-content {
    text-align: center;
}

.wc-content h1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
}

.wc-content p {
    color: #ffffff;
}

/* ------------------------------------------------------------
Seções padronizadas
------------------------------------------------------------ */

.sections {
    height: 480px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sections h6 {
    font-family: 'Dic Sans';
    font-size: 12px;
}

/* ------------------------------------------------------------
Seção inicial
------------------------------------------------------------ */

.sec-one {
    background-color: #6c839c4d;
}

.articles img {
    max-width: 480px;
}

.text-right h3 {
    font-size: 24px;
}

.text-right p {
    font-size: 16px;
}

.text-right h6 {
    font-size: 14px;
}

/* ------------------------------------------------------------
Segunda seção
------------------------------------------------------------ */

/* ------------------------------------------------------------
Terceira seção
------------------------------------------------------------ */

.sec-three {
    background-color: #6c839c4d;
}

/* ------------------------------------------------------------
Seção final
------------------------------------------------------------ */
.section-final {

}

/* ------------------------------------------------------------
Último título
------------------------------------------------------------ */

.last-title {
    background-color: #425970;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-title h2 {
    font-size: 32px;
    color: #edf2f7;
}