/* Estilização dos conteúdos principais nas páginas */

a,
a:visited {
    text-transform: none;
    color: #273f54;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

h1, h2, h3, h6 {
    font-family: 'Dic Sans';
    font-weight: normal;
}
